/* Stop Climate Change Section */
.climate-change-container-1 {
    display: flex;
    background-image: url(../assets/about-us/annie-spratt-427339-unsplash@2x.png);
    flex-flow: column wrap;
    justify-content: center;
    background-position: 30%;
    background-size: cover;
    background-repeat: no-repeat;
}