* {
    margin: 0rem;
    padding: 0rem;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

a {
    color: #354463;
}

/******************************** HEADING SECTION ********************************/
.donation-heading {
    padding: 2rem;
    text-align: center;
}

/******************************** FORM SECTION ********************************/
.donation-section {
    background-image: url(../assets/donation/annie-spratt-427340-unsplash.png);
    background-position: center;
    background-repeat: no-repeat;
    background-position: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.grouped-container {
    padding: 2.5rem 0rem 3rem 0rem;
    margin: 1.5rem 2rem;
}

.title h3 {
    font-size: 2rem;
    font-family: flood-std;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 1.5rem;
}

.forms,
.forms-2 {
    padding: 2rem 1rem;
    background-color: #354463;
}

.form-heading {
    margin-bottom: 1rem;
    color: #FFFFFF;
}

.first-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
}

label,
input {
    display: inline-block;
    width: 100%;
}

label {
    font-size: 0.688rem;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: .5rem;
}

input[type=text],
select {
    font-size: .8rem;
    color: #C1F7D5;
    padding-bottom: .5rem;
    border: 1px solid #FFFFFF;
    border-left-color: #354463;
    border-right-color: #354463;
    border-top-color: #354463;
    border-bottom-color: #C1F7D5;
    background-color: #354463;
    box-sizing: border-box;
}

.second-area {
    margin-bottom: 1rem;
}

.third-area {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
}

.fifth-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
}

.fifth-area input {
    width: 40%;
    margin-bottom: 1rem;
}

.below-form {
    color: #FFFFFF;
    margin-bottom: 2rem;
}


button {
    position: relative;
    left: calc(50% - 6.5rem);
    font-weight: bold;
    text-align: center;
    padding: 1rem 3rem;
    margin-bottom: 2rem;
    background-color: #C1F7D5;
    font-size: 1rem;
    border-radius: 2rem;
    border-style: none;
}

.forms a,
.forms-2 a {
    font-size: .8rem;
    text-decoration: underline;
    color: #C1F7D5;
}

/******************************** ABOUT US SECTION ********************************/

.about-us-1-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 1rem;
    column-gap: 3rem;
    padding: 3rem 2rem 2rem 2rem;
}

.about-us-1-container li {
    padding-bottom: 1rem;
}

.about-us-1-container a {
    text-decoration: underline;
}

.slogan-area {
    grid-column: 2;
}

.slogan-area h2 {
    text-align: right;
    font-size: 2.5rem;
    font-family: flood-std;
}

@media (width > 54rem) {

    /******************************** HEADING SECTION ********************************/
    .donation-heading {
        padding: 2rem 1rem 0rem 1rem;
        text-align: center;
    }

    .donation-heading h3 {
        padding: 0rem 21rem;
        font-size: 1.5rem;
    }

    /******************************** FORM SECTION ********************************/

    .grouped-container {
        padding: 4rem 0rem;
        margin: 1.5rem 4rem;
    }

    .title h3 {
        font-size: 2.5rem;
        padding: 0rem 10rem;
        margin-bottom: 3rem;
    }

    .forms,
    .forms-2 {
        padding: 3rem 3rem 1rem 3rem;
    }

    .form-heading {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .first-area {
        gap: 3rem;
        margin-bottom: 2rem;
    }

    label,
    input {
        display: inline-block;
        width: 100%;
    }

    label {
        font-size: 1rem;
    }

    input[type=text],
    select {
        font-size: 1rem;
        color: #C1F7D5;
    }

    .second-area {
        margin-bottom: 2rem;
    }

    .state {
        padding-left: 2rem;
    }

    select {
        width: 120px;
        margin: 1px;
    }

    select:focus {
        min-width: 120px;
        width: auto;
    }

    .third-area {
        margin-bottom: 2rem;
    }

    .fifth-area {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    .fifth-area input {
        width: 40%;
        margin-bottom: 2rem;
    }

    .below-form {
        color: #FFFFFF;
        margin-bottom: 2rem;
    }

    .below-form h3 {
        font-size: 2rem;
        text-align: left;
        padding: 0rem 3rem 0rem 0rem;
    }

    button {
        left: 0;
    }

    .forms a,
    .forms-2 a {
        font-size: 1rem;
    }

    .form-last-grid {
        display: grid;
        grid-template-columns: 1fr auto;
    }

    .form-last-grid button {
        margin-right: 2rem;
        grid-column: 2;
    }

    .form-last-grid p {
        margin-top: -4rem;
    }

    /******************************** ABOUT US SECTION ********************************/

    .about-us-1-container {
        display: grid;
        grid-template-columns: 200px auto auto;
        grid-template-rows: auto auto;
        gap: 1rem;
        column-gap: 3rem;
        padding: 3rem 2rem 2rem 2rem;
    }

    .about-us-1-container li {
        padding-bottom: 1rem;
    }

    .about-us-1-container a {
        text-decoration: underline;
    }

    .about-us-title {
        grid-row: 1/3;
    }

    .about-us-title h3 {
        font-size: 1.5rem;
        padding-right: 2rem;
    }

    .slogan-area {
        grid-column: 3;
    }

    .slogan-area h2 {
        text-align: left;
        font-size: 3rem;
        font-family: flood-std;
    }
}

@media (width > 80rem) {

    /******************************** HEADING SECTION ********************************/

    .donation-heading h3 {
        padding: 0rem 34.5rem;
        font-size: 2rem;
    }

    /******************************** FORM SECTION ********************************/

    .grouped-container {
        display: grid;
        grid-template-columns: 40rem 1fr;
        padding: 4rem 0rem;
        margin: 1.5rem 6rem;
        column-gap: 10rem;
    }

    .title {
        grid-column: 2;
        padding: 0rem;
        margin-bottom: 0rem;
    }

    .title h3 {
        text-align: left;
        font-size: 5rem;
        padding: 0rem;
        margin-bottom: 0rem;
    }

    .forms {
        grid-column: 1;
        grid-row: 1/2;
    }

    /******************************** ABOUT US SECTION ********************************/

    .about-us-1-container {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }

    .about-us-1-container li {
        display: block;
    }

    .about-us-title {
        grid-row: 1/3;
        font-size: 1.5rem;
    }

    .slogan-area {
        grid-column: 5;
    }

    .slogan-area h2 {
        text-align: right;
        font-size: 3rem;
    }
}