* {
    margin: 0rem;
    padding: 0rem;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #354463;
}

.logo {
    background-image: url(../assets/home/iconmonstr-twitter-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    border-radius: 20rem;
    width: 0;
    height: 5%;
    padding: 1rem;
    background-color: #C1F7D5;
}

.logo2 {
    background-image: url(../assets/home/iconmonstr-facebook-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
    border-radius: 20rem;
    width: 0;
    height: 5%;
    padding: 1rem;
    background-color: #C1F7D5;
}

button {
    border-radius: 3rem;
    border: 0rem;
    color: #354463;
    background-color: #C1F7D5;
}

/***************************************************** MOBILE SECTION **********************************************************/

/******************************** HEADER SECTION ********************************/

.container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1rem;
    padding: 2rem 2rem 0rem 2rem;
}

li {
    margin-bottom: 1rem;
}

.header-container {
    text-align: left;
}

.header-button {
    text-align: center;
    grid-column: span 2;
}

.header-button button {
    font-weight: bold;
    font-size: 1rem;
    padding: .5rem 4.5rem;
}

/******************************** STOP CLIMATE CHANGE SECTION ********************************/

.container1 {
    display: flex;
    position: relative;
    background-image: url(../assets/home/annie-spratt-135307-unsplash@2x.png);
    flex-flow: column wrap;
    justify-content: center;
    background-position: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.slogan h1 {
    margin: 4rem 0rem 4rem 2rem;
    font-size: 2.75rem;
    text-transform: uppercase;
    font-family: flood-std;
    color: #FFFFFF;
}

.outer-card {
    display: flex;
    position: relative;
    flex-flow: column wrap;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 3rem 1rem 1rem 2rem;
    margin: 2rem 2rem 3rem 2rem;
}

.title-inside-card {
    display: inline;
    text-align: center;
    position: absolute;
    text-transform: uppercase;
    right: calc(50% - 4.7rem);
    top: -2rem;
    padding: 1rem 2rem;
    color: #FFFFFF;
    background-color: #354463;
}

.inner-card {
    font-size: .9rem;
    margin-left: -.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.inner-card h1 {
    margin-bottom: 1rem;
}

.inner-card p a {
    text-decoration: underline;
}

/******************************** TAKE ACTION SECTION ********************************/

.take-action {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #C1F7D5;
}

.take-action-card {
    display: inline;
    text-align: center;
    position: absolute;
    text-transform: uppercase;
    right: calc(50% - 5.5rem);
    top: -2rem;
    padding: 1rem 2rem;
    color: #FFFFFF;
    background-color: #354463;
}


.card2 {
    display: flex;
    padding-top: 3rem;
}

.columns-in-take-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 2rem;
    row-gap: 1rem;
    column-gap: 1rem;
}

.items-inside-column p {
    color: #354463;
}


/******************************** WHAT WE DO SECTION ********************************/


/********** Image 1 area ***********/
.do-section {
    background-color: #354463;
    padding: 2rem 1rem 1rem 1rem;
}

.what-we-do {
    position: relative;
    margin-top: 3rem;
}

.heading-of-what-we-do {
    display: inline;
    text-align: center;
    position: absolute;
    text-transform: uppercase;
    right: calc(50% - 5.5rem);
    top: -2rem;
    padding: 1rem 2rem;
    background-color: #FFFFFF;
}

.caption-what-we-do {
    position: relative;
    text-align: center;
    font-size: 1.3rem;
    padding: 3rem 4rem 2rem 4rem;
    color: #FFFFFF;
    margin-bottom: 2rem;
}

.context-of-image {
    text-align: center;
    margin: 1rem 1rem;
    background-color: #FFFFFF;
    margin-bottom: 2rem;
}

.inside-the-card {
    padding: 1rem 2rem 2rem 2rem;
    margin-bottom: 3.5rem;
}

.inside-the-card img {
    position: relative;
    height: 50%;
    width: 100%;
    top: -2.5rem;
}

.inside-the-card p {
    position: relative;
    margin: 1rem;
}

.inside-the-card button {
    font-size: 1rem;
    font-weight: bold;
    padding: .5rem 2rem;
}

/******************************** CLIMATE SECTION ********************************/

.climate {
    background-image: url(../assets/home/did-you-know-background@2x.png);
    background-position: left center;
    background-repeat: no-repeat;
}

.climate-change-container {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    padding: 3rem 2rem;
}

.climate-heading {
    text-align: left;
}

.climate-heading h1 {
    position: relative;
    color: #FFFFFF;
    font-family: flood-std;
    font-size: 3rem;
    bottom: 1rem;
}

.climate-heading button {
    font-size: 1rem;
    font-weight: bold;
    padding: .5rem 1rem;
    margin-bottom: 4rem;
}

.heading-logo {
    position: relative;
}

.card-1-heading {
    display: inline;
    text-align: center;
    position: absolute;
    text-transform: uppercase;
    left: calc(50% - 6rem);
    top: -2rem;
    padding: 1rem 2rem;
    color: #FFFFFF;
    background-color: #354463;
}

.logo-container-1 {
    position: relative;
    text-align: center;
}

.card-1 {
    display: inline-grid;
    text-align: left;
    grid-template-columns: 1fr 50px;
    gap: 1rem;
    background-color: #FFFFFF;
    margin: .5rem;
    padding: 2rem 1.5rem;
    width: 80%;
}

/******************************** STORIES SECTION ********************************/

.stories {
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    flex-flow: column wrap;
    padding: 3rem 2rem;
}

.heading {
    display: inline;
    text-align: center;
    position: absolute;
    text-transform: uppercase;
    right: calc(50% - 5.3rem);
    top: 2rem;
    padding: .5rem 3rem;
    color: #FFFFFF;
    background-color: #354463;
}

.stories-heading img {
    height: 50%;
    width: 100%;
}

.heading-container {
    position: relative;
    top: 2rem;
    padding: 1rem 1rem 4rem 1rem;
    text-align: center;
    background-color: #354463;
    color: #FFFFFF;
}

.heading-container h1 {
    padding: 1rem;
}

.heading-container p {
    position: relative;
    top: 1rem;
}

.container-stories button {
    position: relative;
    top: 4rem;
    font-size: 1rem;
    font-weight: bold;
    padding: .5rem 2rem;
    margin-bottom: 3rem;
}


/******************************** EVENT SECTION ********************************/

.event-action {
    display: flex;
    position: relative;
    flex-flow: column wrap;
    text-align: center;
    align-items: center;
    padding: 3rem 2rem 2rem 2rem;
    background-color: #354463;
    color: #FFFFFF;
}

.event-action h1 {
    color: #FFFFFF;
    font-family: flood-std;
    font-size: 2.5rem;
}

.event-action h3,
.event-container-4 h3 {
    padding: 1rem 2rem;
}

.tag-1,
.tag-2 {
    position: relative;
    margin: 3rem 1rem 1rem 1rem;
}

.tag-1 p {
    display: inline;
    text-align: center;
    position: absolute;
    text-transform: uppercase;
    right: calc(50% - 4.7rem);
    padding: .5rem 3rem;
    top: -1rem;
    color: #354463;
    background-color: #FFFFFF;
}

.tag-2 p {
    display: inline;
    text-align: center;
    position: absolute;
    text-transform: uppercase;
    right: calc(50% - 6.5rem);
    padding: .5rem 3rem;
    top: -1rem;
    color: #354463;
    background-color: #FFFFFF;
}

.event-container-2 p,
.event-container-5 p {
    padding: 0rem 2rem 2rem 2rem;
}

.event-action button {
    position: relative;
    font-size: 1rem;
    font-weight: bold;
    padding: .5rem 2rem;
}

.event-image,
.event-image-2 {
    margin: auto;
    height: 50%;
    width: 80%;
}

.event-image img,
.event-image-2 img {
    height: 100%;
    width: 100%;
    margin-bottom: 1rem;
}

/******************************** SUBSCRIBE SECTION ********************************/

.subscribe-section {
    background-color: #C1F7D5;
}

.section1-container {
    text-align: left;
    padding: 2rem 2rem;
}

.subscribe h1 {
    margin-bottom: 1.5rem;
}

.subscribe-container {
    display: grid;
    text-align: center;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
}

.subscribe input {
    text-align: center;
    border-radius: 25px;
    border: none;
    padding: .7rem 1rem;
    width: 100%;
    height: 30%;
}

.subscribe button {
    padding: .5rem 1.5rem;
    font-size: 1rem;
    background-color: #354463;
    color: #FFFFFF;
}

/******************************** ABOUT US SECTION ********************************/

.about-us-1-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 1rem;
    column-gap: 3rem;
    padding: 3rem 2rem 2rem 5rem;
}

.about-us-1-container a {
    text-decoration: underline;
}

.slogan-area {
    grid-column: 2;
}

.slogan-area h2 {
    text-align: right;
    font-size: 2.5rem;
    font-family: flood-std;
}


/***************************************************** TABLET SECTION **********************************************************/

@media (width > 40rem) {


    /******************************** HEADER SECTION ********************************/

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 10rem;
        margin-bottom: 2rem;
    }

    .header-container h3 {
        font-size: 1.5rem;
    }

    .list-container {
        order: 3;
        grid-column: span 2;
    }

    li {
        display: inline;
        padding-right: 1.2rem;
        font-size: 1.2rem;
    }

    .header-button {
        order: 2;
        grid-area: 1 / 2 / 3 / 3;
    }

    .header-button button {
        padding: 1rem;
        font-size: 1.2rem;
    }

    /******************************** STOP CLIMATE CHANGE SECTION ********************************/

    .title-inside-card {
        right: inherit;
    }

    .inner-card {
        font-size: 1.5rem;
        text-align: left;
    }

    .inner-card p a {
        font-size: 1rem;
        text-decoration: underline;
    }

    .outer-card {

        margin: 2rem 2rem 6rem 2rem;
    }

    /******************************** TAKE ACTION SECTION ********************************/

    .card2 {
        padding: 3.5rem 3rem 4rem 3rem;
    }

    .columns-in-take-actions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 8rem;
        row-gap: 3rem;
    }

    .columns-in-take-actions {
        padding-left: 1.2rem;
    }

    .items-inside-column h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .items-inside-column p {
        font-size: 1.2rem;
    }

    /******************************** WHAT WE DO SECTION ********************************/
    .do-section {
        background-color: #354463;
    }

    .what-we-do {
        margin: 3rem 2rem;
    }

    .heading-of-what-we-do {
        right: calc(100% - 10.6rem);
    }

    .caption-what-we-do {
        text-align: left;
        font-size: 2.5rem;
        padding: 3rem 0rem 0rem 0rem;
        color: #FFFFFF;
        margin-bottom: 6rem;
    }

    /* Image area */

    .context-of-image {
        text-align: left;
        margin: 1rem 2rem 5rem 2rem;
    }

    .inside-the-card {
        column-gap: 2rem;
        display: grid;
        grid-template-columns: auto auto;
        padding: 1rem 2rem 0rem 2rem;
        margin-bottom: 0rem;
    }

    .image-container {
        height: 80%;
        width: 50%;
    }

    .inside-the-card img {
        position: relative;
        height: 17rem;
        width: 20rem;
        top: -2.5rem;
    }

    .inside-the-card h3 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .inside-the-card p {
        position: relative;
        margin: 0rem;
        font-size: 1.3rem;
    }

    .card-text {
        grid-area: 1 / 2/ 2/ 3;
    }

    .inside-the-card button {
        position: relative;
        top: -2rem;
        left: calc(50% - 4rem);
        font-size: 1.1rem;
        font-weight: bold;
        padding: 1rem 3rem;
    }

    /******************************** CLIMATE SECTION ********************************/

    .climate-change-container {
        display: grid;
        grid-template-columns: 200px 1fr;
        column-gap: 5rem;
        padding: 4rem 3rem 3rem 4rem;
    }

    .climate-heading {
        text-align: left;
    }

    .climate-heading h1 {
        position: relative;
        color: #FFFFFF;
        font-family: flood-std;
        font-size: 3rem;
        bottom: 2rem;
    }

    .climate-heading button {
        font-size: 1.2rem;
        font-weight: bold;
        padding: 1rem;
    }

    .card-1 {
        gap: 1rem;
        background-color: #FFFFFF;
        padding: 2rem;
        width: 80%;
    }

    .card-1-heading {
        top: -1.5rem;
        padding: 1rem 2rem;
        color: #FFFFFF;
        background-color: #354463;
    }

    .card-1 h2 {
        font-size: 2rem;
    }

    .card-1-para p {
        font-size: 1rem;
    }

    /******************************** STORIES SECTION ********************************/

    .container-stories {
        padding: 3rem 2rem 0rem 2rem;
        text-align: left;
        left: 1rem;
    }

    .heading {
        right: calc(100% - 18rem);
        top: 5rem;
    }


    .stories-heading img {
        height: 50%;
        width: 70%;
    }

    .heading-container {
        position: relative;
        top: -4rem;
        right: -10rem;
        padding: 3rem 1rem 0rem 3rem;
        text-align: left;
        width: 65%;
    }

    .heading-container h1 {
        padding: 0rem;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .heading-container p {
        font-size: 1rem;
    }

    .container-stories button {
        position: relative;
        margin-bottom: 0rem;
        top: -3rem;
        left: 10rem;
        padding: 1rem 1.5rem;
    }

    /******************************** EVENT SECTION ********************************/

    .event-action {
        text-align: left;
        padding: 3rem 3rem 1em 3rem;
    }

    .event-action h1 {
        text-align: left;
        font-size: 3rem;
        padding: 0rem 5rem 0rem 3rem;
        margin-bottom: 3rem;
    }

    /* Below Section */

    .event-card-container,
    .event-card-container-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        text-align: left;
        margin-bottom: 2rem;
    }

    .event-action h3 {
        padding: 0rem;
    }

    .tag-1,
    .tag-2 {
        padding: 0rem;
        margin: 0rem;
    }

    .tag-1 {
        padding-left: 2rem;
    }

    .tag-2 {
        padding-left: 2.5rem;
    }

    .tag-1 p,
    .tag-2 p {
        position: relative;
        right: 0rem;
        padding: .5rem 3rem;
        top: 1rem;
    }

    .event-image,
    .event-image-2 {
        height: 90%;
        grid-column: 2;
        grid-row: 1/5;
    }

    .event-image {
        grid-column: 1;
    }

    .event-image img,
    .event-image-2 img {
        margin: 0rem;
    }

    .event-container-2 p,
    .event-container-5 p {
        padding: 0rem;
        font-size: 1rem;
    }

    .event-container-1 h3 {
        padding: 3rem 0rem 0rem 2rem;
        font-size: 1.5rem;
    }

    .event-container-2 p {
        padding: 1rem 0rem 1rem 2rem;
    }

    .event-container-3 {
        padding-left: 2rem;
    }

    .event-container-4 h3 {
        padding: 3rem 3rem 0rem 2.5rem;
        font-size: 1.5rem;
    }


    .event-container-5 p {
        padding: 1rem 2rem 1rem 2.5rem;
    }

    .event-container-6 {
        padding-left: 2.5rem;
    }

    /******************************** SUBSCRIBE SECTION ********************************/

    .subscribe-section {
        background-color: #C1F7D5;
    }

    .section1-container {
        text-align: left;
        padding: 2rem 4rem;
    }


    .subscribe h1 {
        text-align: left;
        margin-bottom: 1.5rem;
        padding: 0rem 10rem 0rem 0rem;
    }

    .subscribe-container {
        display: grid;
        text-align: center;
        gap: 1.5rem;
        grid-template-columns: 1fr 1fr;
    }

    .subscribe input {
        text-align: center;
        border-radius: 25px;
        border: none;
        padding: .7rem 1rem;
        width: 100%;
        height: 30%;
    }

    .subscribe button {
        padding: .5rem 1.5rem;
        font-size: 1rem;
        background-color: #354463;
        color: #FFFFFF;
    }

    /******************************** ABOUT US SECTION ********************************/

    .about-us-1-container {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        column-gap: 4rem;
        padding: 3rem 2rem;
    }

    .about-us-1-container li {
        display: block;

    }

    .about-us-title {
        grid-row: 1/3;
        font-size: 1.5rem;
    }

    .slogan-area {
        grid-column: 3;
    }

    .slogan-area h2 {
        text-align: left;
        font-size: 2.5rem;
        font-family: flood-std;
    }
}

/***************************************************** DESKTOP SECTION **********************************************************/

@media (width > 80rem) {

    /******************************** HEADER SECTION ********************************/

    .container {
        display: flex;
        column-gap: 0rem;
        padding: 2rem 4rem 0rem 4rem;
    }

    .header-container {
        width: 20%;
        display: inline-block;
        margin-right: 2rem;
    }

    .header-container h3 {
        padding-right: 4rem;
    }

    .list-container {
        order: 2;
        margin: 0rem 2rem 0rem 0rem;
    }

    .list-container li {
        margin: 0rem 3.5rem;
    }

    /******************************** STOP CLIMATE CHANGE SECTION ********************************/

    .container1 {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 6rem;
    }

    .slogan {
        margin: 4rem 4rem 4rem 0rem;
        grid-column: 2;
    }

    .slogan h1 {
        text-align: left;
        margin: 6rem 0rem;
    }

    .slogan h1 {
        font-size: 4rem;
    }

    .outer-card {
        width: 30rem;
        grid-column: 1;
        grid-row: 1/3;
        padding: 3rem 8rem 3rem 4rem;
        margin: 10rem 1rem 3rem 4rem;
    }

    .title-inside-card {
        right: calc(50% + 7.5rem);
    }

    .inner-card {
        font-size: 1rem;
        text-align: left;
    }

    .inner-card h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    /******************************** TAKE ACTION SECTION ********************************/

    .card2 {
        display: flex;
        padding-top: 3rem;
    }

    .columns-in-take-actions {
        padding: 0rem 2rem 0rem 3rem;
        display: flex;
    }

    .columns-in-take-actions {
        padding-left: 1.2rem;
    }

    .items-inside-column h3 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .items-inside-column p {
        font-size: 1.2rem;
    }

    /******************************** WHAT WE DO SECTION ********************************/

    .do-section {
        background-color: #354463;
        padding: 2rem 0rem 1rem 1rem;
    }

    .grid-container {
        display: grid;
        position: relative;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        margin-right: 0rem;
        gap: 0rem;
        padding: 0rem;
    }

    .context-of-image {
        text-align: left;
        width: 75%;
    }

    .inside-the-card {
        display: flex;
        flex-flow: column wrap;
        padding: 1rem 0rem 1rem 3rem;
    }

    .image-container {
        height: 80%;
        width: 100%;
    }

    .inside-the-card img {
        position: relative;
        height: 17rem;
        width: 20rem;
        top: -2.5rem;
        left: calc(50% - 7rem);
    }

    .inside-the-card h3 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .inside-the-card p {
        position: relative;
        margin: 0rem;
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }

    .inside-the-card button {
        position: relative;
        top: 0rem;
        left: 0rem;
        font-size: 1.1rem;
        font-weight: bold;
        padding: 1rem 3rem;
    }

    .card-text {
        padding-right: 2rem;
    }

    /******************************** CLIMATE SECTION ********************************/

    .climate-change-container {
        display: grid;
        grid-template-columns: 200px 1fr;
        column-gap: 10rem;
        padding: 10rem 4rem 10rem 5rem;
    }

    .climate-heading h1 {
        position: relative;
        color: #FFFFFF;
        font-family: flood-std;
        font-size: 4rem;
        bottom: 2rem;
    }

    .card-1 {
        width: 50%;
        margin-bottom: 2rem;
    }

    .card-1-heading {
        left: calc(50% - 14rem);
        top: -1.5rem;
        padding: 1rem 2rem;
        color: #FFFFFF;
        background-color: #354463;
    }

    .card-1 h2 {
        font-size: 3rem;
    }

    .card-1-para p {
        font-size: 1.5rem;
    }

    /******************************** STORIES SECTION ********************************/

    .stories {
        padding: 4rem 2rem 3rem 2rem;
    }

    .container-stories {
        display: grid;
        grid-template-columns: auto 43rem;
    }

    .container-stories button {
        padding: .7rem 2rem;
        font-size: 1.2rem;
    }

    .stories-heading {
        position: relative;
        grid-column: 2;
        margin: 0rem;
        padding: 0rem;
    }

    .stories-heading img {
        height: 100%;
        width: 100%;
    }

    .heading {
        text-align: inherit;
        top: -1rem;
    }

    .heading-container {
        display: absolute;
        grid-row: 1/2;
        margin-top: 3rem;
        height: 50%;
        width: 80%;
        margin: 10rem 0rem 0rem 0rem;
        padding: 0rem;
        padding: 3rem 3rem 0rem 3rem;
    }

    .heading-container h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .heading-container p {
        font-size: 1.5rem;
    }

    /******************************** EVENT SECTION ********************************/

    .event-action {
        padding: 5rem;
    }

    .event-action h1 {
        font-size: 4rem;
        padding: 0rem 20rem 0rem 2rem;
        margin-bottom: 4rem;
    }

    .event-card-container,
    .event-card-container-2 {
        column-gap: 4rem;
    }

    .tag-1,
    .tag-2 {
        margin-top: 4.5rem;
    }

    .tag-1 p,
    .tag-2 p {
        font-size: 1.5rem;
    }

    .event-image,
    .event-image-2 {
        height: 80%;
        width: 100%;
    }

    .event-container-1 h3,
    .event-container-4 h3 {
        font-size: 2.5rem;
        margin-top: -5rem;
    }

    .event-container-2 p {
        padding: 0rem;
        padding-left: 2rem;
        margin-top: -4rem;
    }

    .event-container-5 p {
        padding-left: 2.5rem;
        margin-top: -4rem;
    }

    .event-container-3,
    .event-container-6 {
        margin-top: -4rem;
    }

    .event-container-3 button,
    .event-container-6 button {
        padding: 1rem 3rem;
    }

    /******************************** SUBSCRIBE SECTION ********************************/

    .section1-container {
        padding: 4rem 6rem;
    }

    .subscribe h1 {
        margin-bottom: 0rem;
        padding: 0rem;
    }

    .subscribe input {
        text-align: left;
        font-size: 1rem;
        border-radius: 25px;
        border: none;
        padding: 1rem 3rem;
        width: 100%;
        height: 30%;
    }

    .subscribe button {
        padding: 1rem 1.5rem;
        font-size: 1rem;
        background-color: #354463;
        color: #FFFFFF;
    }

    .subscribe {
        display: grid;
        grid-template-columns: auto 34rem;
    }

    .subscribe-container {
        display: grid;
        column-gap: 4rem;
        grid-template-columns: 1fr 1fr;
    }

    /******************************** ABOUT US SECTION ********************************/

    .about-us-1-container {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }

    .about-us-1-container li {
        display: block;

    }

    .about-us-title {
        grid-row: 1/3;
        font-size: 1.5rem;
    }

    .slogan-area {
        grid-column: 5;
    }

    .slogan-area h2 {
        text-align: right;
        font-size: 3rem;
    }

}